*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
  --shadow: rgba(0, 0, 0, 0.8)
}
html, body {
  height: 100%;
	color: #fff;
	background-color: #333;
  width: 100%;
  overflow: hidden;
}
.slider__slide{
  max-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.slider__container{
  height: 100vh;
  display: inline-flex;
  overflow: hidden;
  scrollbar-width: none;
  transform: translateX(0);
  will-change: transform;
  transition: transform 0.3s ease-out;
  cursor: grab;
}
.grabbing{
	cursor: grabbing;
}
.grabbing .slide {
	transform: scale(.9);
  box-shadow: 5px 5px 40px -1px var(--shadow);
}